@using ComputerShop.Models
@{
    ViewBag.Title = "Search";

}
@model List<Product>


<div class="jumbotron">
    @if(Model.Count == 0)
    {
        <p class="text-center">Could not find product with phrase "@ViewBag.Phrase"</p>
    }
    else
    {
        <div class="container text-center">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        @if (User.IsInRole("Admin"))
                        {
                            <th>Id</th>
                        }
                        <th>Product Name</th>
                        <th>Product Type</th>
                        <th>Production Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (User.IsInRole("Admin"))
                            {
                                <th>@item.Id</th>
                            }
                            <th>@item.ProductName</th>
                            <th>@item.ProductType</th>
                            <th>@item.ProductionDate.ToShortDateString()</th>
                            <th>@{Html.RenderPartial("_ProductOptions", item);}</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

                        

