@model ComputerShop.Models.Basket

<!DOCTYPE html>

<html>
<head>
	@Styles.Render("~/Content/InputForm.css")
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    	<div class="jumbotron text-center">
    		<h3>Are you sure you want to delete this?</h3>
    
    		<h3>Purchase</h3>
        
    		<table class="table table-bordered">
    			<tbody>
    				
    				<tr>
    					<td>
    						<strong>@Html.DisplayNameFor(model => model.Product.ProductName)</strong>
    					</td>
    					<td>
    						@Html.DisplayFor(model => model.Product.ProductName)
    					</td>
    				</tr>
    				<tr>
    					<td>
    						<strong>@Html.DisplayNameFor(model => model.Product.ProductType)</strong>
    					</td>
    					<td>
    						@Html.DisplayFor(model => model.Product.ProductType)
    					</td>
    				</tr>
    				<tr>
    					<td>
    						<strong>@Html.DisplayNameFor(model => model.Product.Price)</strong>
    					</td>
    					<td>
    						@Html.DisplayFor(model => model.Product.Price)
    					</td>
    				</tr>
    				<tr>
    					<td>
    						<strong>@Html.DisplayNameFor(model => model.Quantity)</strong>
    					</td>
    					<td>
    						@Html.DisplayFor(model => model.Quantity)
    					</td>
    				</tr>
                    <tr>
                        <td>
                            <strong>@Html.DisplayName("price x quantity")</strong>
                        </td>
                        <td>
                            @(Model.Product.Price * Model.Quantity)
                        </td>
                    </tr>
                   
    			</tbody>
    		</table>
    
    		@using (Html.BeginForm("Delete", "MyOrders", FormMethod.Post, new { @class = "form-horizontal" }))
            {
    			@Html.AntiForgeryToken()
                @Html.Hidden("PurchaseId", Model.PurchaseId)
                @Html.Hidden("ProductId", Model.ProductId)

    			<div class="form-actions no-color">
    				<input type="submit" value="Delete" class="btn btn-default" /> |
    				@Html.ActionLink("Back to List", "Index")
    			</div>
    		}
    	</div>
    		
	
</body>
</html>
